USE [ADKT_SELLSWATCH]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 24/08/2021 11:06:18 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[BrandID] [int] NOT NULL,
	[BrandName] [nvarchar](50) NULL,
	[Info] [nvarchar](max) NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[BrandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Membership]    Script Date: 24/08/2021 11:06:18 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Membership](
	[CustomerID] [varchar](15) NOT NULL,
	[CustomerName] [nvarchar](50) NULL,
	[BirthDay] [date] NULL,
	[Genner] [bit] NULL,
	[CardDay] [date] NULL,
	[Phone] [int] NULL,
	[RankID] [int] NULL,
 CONSTRAINT [PK_Membership] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rank]    Script Date: 24/08/2021 11:06:18 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rank](
	[RankID] [int] NOT NULL,
	[RankName] [nvarchar](50) NULL,
	[Info] [nvarchar](max) NULL,
 CONSTRAINT [PK_Rank] PRIMARY KEY CLUSTERED 
(
	[RankID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receipt]    Script Date: 24/08/2021 11:06:18 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipt](
	[ReceiptID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [varchar](15) NULL,
	[Date] [date] NULL,
	[TotalPrice] [decimal](18, 0) NULL,
 CONSTRAINT [PK_Receipt] PRIMARY KEY CLUSTERED 
(
	[ReceiptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receipt_Details]    Script Date: 24/08/2021 11:06:18 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipt_Details](
	[Number] [int] IDENTITY(1,1) NOT NULL,
	[WatchID] [varchar](50) NOT NULL,
	[ReceiptID] [int] NOT NULL,
	[numOfWatch] [int] NOT NULL,
 CONSTRAINT [PK_Receipt_Details] PRIMARY KEY CLUSTERED 
(
	[Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 24/08/2021 11:06:18 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Gender] [bit] NULL,
	[BirthDay] [datetime] NULL,
	[WorkDay] [datetime] NULL,
	[Phone] [varchar](11) NULL,
	[Salary] [decimal](18, 0) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Watch]    Script Date: 24/08/2021 11:06:18 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Watch](
	[WatchID] [varchar](50) NOT NULL,
	[WatchName] [nvarchar](max) NULL,
	[Gender] [bit] NULL,
	[Glass] [nvarchar](50) NULL,
	[Waterproof] [varchar](50) NULL,
	[Strap] [nvarchar](50) NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[BrandID] [int] NOT NULL,
	[NumOfItem] [int] NULL,
 CONSTRAINT [PK_Watch] PRIMARY KEY CLUSTERED 
(
	[WatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Brand] ([BrandID], [BrandName], [Info]) VALUES (2, N'FOUETTÉ', N'“Cuộc sống giống như một sân khấu. Khi ánh đèn bật sáng, nàng vũ công ba lê (Ballerina) bắt đầu thực hiện những vũ điệu hoàn hảo trên sân khấu và giành được trái tim của mọi người. Đó chính ra là cảm hứng để tạo ra những chiếc đồng hồ ba lê Fouetté Ballerina – tác phẩm đoạt giải vô địch cuộc thi thiết kế đồng hồ danh giá – Hong Kong Watch & Clock Design Competition”')
INSERT [dbo].[Brand] ([BrandID], [BrandName], [Info]) VALUES (3, N'CASIO', N'“Đồng hồ Casio được biết đến là thương hiệu đồng hồ lâu đời trong ngành công nghiệp đồng hồ tại Nhật Bản. Những mẫu đồng hồ Casio nam và đồng hồ Casio nữ được yêu thích bởi thiết kế đơn giản, dễ dàng để xem giờ, được trang bị đầy đủ các công nghệ mới nhất và có giá bán cực kỳ rẻ. Ngoài ra, đồng hồ Casio chính hãng còn nổi bật với chức năng đa dạng giúp ích cho người dùng vào những hoạt động đời sống thường ngày.')
GO
INSERT [dbo].[Membership] ([CustomerID], [CustomerName], [BirthDay], [Genner], [CardDay], [Phone], [RankID]) VALUES (N'0735542324', N'Trần Ngọc Huyền', CAST(N'2001-01-30' AS Date), 1, CAST(N'2019-02-07' AS Date), 945336547, 1)
INSERT [dbo].[Membership] ([CustomerID], [CustomerName], [BirthDay], [Genner], [CardDay], [Phone], [RankID]) VALUES (N'1344526718', N'Huỳnh Văn Trung', CAST(N'1974-11-15' AS Date), 0, CAST(N'2021-08-22' AS Date), 945668121, 1)
INSERT [dbo].[Membership] ([CustomerID], [CustomerName], [BirthDay], [Genner], [CardDay], [Phone], [RankID]) VALUES (N'154220685', N'Huỳnh Kim Bảo', CAST(N'1994-06-10' AS Date), 0, CAST(N'2021-08-22' AS Date), 953446745, 0)
GO
INSERT [dbo].[Rank] ([RankID], [RankName], [Info]) VALUES (0, N'Hạng Thường', N'Chưa có khuyến mãi gì cho hạng thường')
INSERT [dbo].[Rank] ([RankID], [RankName], [Info]) VALUES (1, N'Hạng Đồng', N'Hạng đồng được trừ 10% vào mỗi đơn hàng')
INSERT [dbo].[Rank] ([RankID], [RankName], [Info]) VALUES (2, N'Hạng Bạc', N'Hạng bạc được trừ 15% vào mỗi đơn hàng')
GO
SET IDENTITY_INSERT [dbo].[Receipt] ON 

INSERT [dbo].[Receipt] ([ReceiptID], [CustomerID], [Date], [TotalPrice]) VALUES (1, N'0735542324', CAST(N'2020-04-12' AS Date), CAST(17943000 AS Decimal(18, 0)))
INSERT [dbo].[Receipt] ([ReceiptID], [CustomerID], [Date], [TotalPrice]) VALUES (2, N'1344526718', CAST(N'2021-08-23' AS Date), CAST(16494000 AS Decimal(18, 0)))
INSERT [dbo].[Receipt] ([ReceiptID], [CustomerID], [Date], [TotalPrice]) VALUES (4, N'1344526718', CAST(N'2021-08-23' AS Date), CAST(16494000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Receipt] OFF
GO
SET IDENTITY_INSERT [dbo].[Receipt_Details] ON 

INSERT [dbo].[Receipt_Details] ([Number], [WatchID], [ReceiptID], [numOfWatch]) VALUES (1, N'MTP-E130L-2A2VDF', 1, 1)
INSERT [dbo].[Receipt_Details] ([Number], [WatchID], [ReceiptID], [numOfWatch]) VALUES (2, N'OR-LOVE', 1, 1)
INSERT [dbo].[Receipt_Details] ([Number], [WatchID], [ReceiptID], [numOfWatch]) VALUES (3, N'53766 GPZMGGE-2', 6, 1)
SET IDENTITY_INSERT [dbo].[Receipt_Details] OFF
GO
INSERT [dbo].[Staff] ([UserName], [Password], [Name], [Address], [Gender], [BirthDay], [WorkDay], [Phone], [Salary], [Status]) VALUES (N'nguyenbinhan@staff.com', N'61PEyQDxuZUdHWlWBbAjBA==', N'Nguyễn Bình An', N'Vĩnh Long', 0, CAST(N'1998-12-15T00:00:00.000' AS DateTime), CAST(N'2016-05-04T00:00:00.000' AS DateTime), N'0948644278', CAST(5000000 AS Decimal(18, 0)), 1)
INSERT [dbo].[Staff] ([UserName], [Password], [Name], [Address], [Gender], [BirthDay], [WorkDay], [Phone], [Salary], [Status]) VALUES (N'phanvanduc@staff.com', N'VacQMEgW+yDgG4O5PiC+lg==', N'Phan Văn Đức', N'Tp.HCM', 0, CAST(N'2000-05-09T00:00:00.000' AS DateTime), CAST(N'2016-12-20T00:00:00.000' AS DateTime), N'0355420242', CAST(5000000 AS Decimal(18, 0)), 1)
GO
INSERT [dbo].[Watch] ([WatchID], [WatchName], [Gender], [Glass], [Waterproof], [Strap], [Price], [BrandID], [NumOfItem]) VALUES (N'53766 GPZMGGE-2', N'SAGA 53766 GPZMGGE-2 – NỮ – QUARTZ (PIN) – DÂY DA – MẶT SỐ 39MM', 1, N'Mineral Crystal (Kính Cứng)', N'5 ATM', N'Dây Da', CAST(6384000 AS Decimal(18, 0)), 1, 1)
INSERT [dbo].[Watch] ([WatchID], [WatchName], [Gender], [Glass], [Waterproof], [Strap], [Price], [BrandID], [NumOfItem]) VALUES (N'53766 SVMBBK-2', N'SAGA 53766 SVMBBK-2 – NỮ – QUARTZ (PIN) – DÂY DA – MẶT SỐ 39MM', 1, N'Mineral Crystal (Kính Cứng)', N'5 ATM', N'Dây Da', CAST(6384000 AS Decimal(18, 0)), 1, 6)
INSERT [dbo].[Watch] ([WatchID], [WatchName], [Gender], [Glass], [Waterproof], [Strap], [Price], [BrandID], [NumOfItem]) VALUES (N'GA-2110ET-8ADR', N'G-SHOCK GA-2110ET-8ADR – NAM – QUARTZ (PIN) – DÂY CAO SU', 0, N'Mineral Crystal (Kính Cứng)', N'20 ATM', N'Dây Cao Su', CAST(3726000 AS Decimal(18, 0)), 6, 6)
GO
ALTER TABLE [dbo].[Membership]  WITH CHECK ADD  CONSTRAINT [FK_Membership_Rank] FOREIGN KEY([RankID])
REFERENCES [dbo].[Rank] ([RankID])
GO
ALTER TABLE [dbo].[Membership] CHECK CONSTRAINT [FK_Membership_Rank]
GO
ALTER TABLE [dbo].[Receipt]  WITH CHECK ADD  CONSTRAINT [FK_Receipt_Membership] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Membership] ([CustomerID])
GO
ALTER TABLE [dbo].[Receipt] CHECK CONSTRAINT [FK_Receipt_Membership]
GO
ALTER TABLE [dbo].[Receipt_Details]  WITH CHECK ADD  CONSTRAINT [FK_Receipt_Details_Receipt] FOREIGN KEY([ReceiptID])
REFERENCES [dbo].[Receipt] ([ReceiptID])
GO
ALTER TABLE [dbo].[Receipt_Details] CHECK CONSTRAINT [FK_Receipt_Details_Receipt]
GO
ALTER TABLE [dbo].[Receipt_Details]  WITH CHECK ADD  CONSTRAINT [FK_Receipt_Details_Watch] FOREIGN KEY([WatchID])
REFERENCES [dbo].[Watch] ([WatchID])
GO
ALTER TABLE [dbo].[Receipt_Details] CHECK CONSTRAINT [FK_Receipt_Details_Watch]
GO
ALTER TABLE [dbo].[Watch]  WITH CHECK ADD  CONSTRAINT [FK_Watch_Brand] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brand] ([BrandID])
GO
ALTER TABLE [dbo].[Watch] CHECK CONSTRAINT [FK_Watch_Brand]
GO
